.ft
    .ft-top 
        .ft-flex
            .ft-images 
                .img 
                    .img-inner 
                        +img("ft-trivietphat.png")
            .ft-menu.row  
                .ft-menu-item.col 
                    .wrapper 
                        p.tt LIÊN HỆ
                        .address 
                            .address-list 
                                a(href="").address-link  
                                    +img("ic-pin.svg")
                                    |81 ĐƯỜNG TÂN HOÀ 2, KHU PHỐ 6, PHƯỜNG HIỆP PHÚ, THÀNH PHỐ THỦ ĐỨC
                                a(href="").address-link  
                                    +img("ic-phone.svg")
                                    |+61 8 9314 0000
                                a(href="").address-link  
                                    +img("ic-mail.svg")
                                    |MARKETING@TRIVIETPHAT.NET
                        .social 
                            p.social-tt THEO DÕI CHÚNG TÔI TẠI
                            .social-list 
                                a(href="").social-link 
                                    +img("ic-linkedin.svg") 
                                a(href="").social-link 
                                    +img("ic-fb.svg") 
                                a(href="").social-link 
                                    +img("ic-ins.svg") 
                                a(href="").social-link 
                                    +img("ic-yt.svg") 
                .ft-menu-item.col 
                    .wrapper 
                        p.tt  KHÁM PHÁ
                        ul.menu-list 
                            li.menu-item  
                                a(href="").menu-link VỀ CHÚNG TÔI 
                            li.menu-item  
                                a(href="").menu-link SẢN PHẨM
                            li.menu-item  
                                a(href="").menu-link ĐỐI TÁC
                            li.menu-item  
                                a(href="").menu-link HỢP TÁC
                            li.menu-item  
                                a(href="").menu-link TUYỂN DỤNG
            .ft-right 
                .img 
                    .img-inner 
                        +img("text-arrow.svg")
                .ft-form 
                    form(action="")
                        .ft-form-wrapper 
                            input(type="text" placeholder="Nhập")
                            button.ft-form-btn
                                +img("arrow-long.svg")
    .ft-bot
        .text 2014 COPYRIGHT
        ul.menu-list 
            li.menu-item 
                a(href="").menu-link LEGAL POLICY
            li.menu-item 
                a(href="").menu-link LEGAL POLICY
    